<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <div>
        <nav>
            <ul class="nav1">
                <li>CookIt</li>
                
            </ul>
            <ul class="nav2">
                <a href="/"><li>Home</li></a>

                <a href="/recipe"><li>Recipes</li></a>
                <a href="/posts"><li>Posts</li></a>
                <a href="/yourrecipe"><li>Your Recipes</li></a>

            </ul>
        </nav>
    </div>
    