<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <div class="forbg">
        <nav>
            <ul class="nav1">
                <li>CookIt</li>
                
            </ul>
            <ul class="nav2">
                <a href="/"><li>Home</li></a>

                <a href="/recipe"><li>Recipes</li></a>
                <a href="/posts"><li>Posts</li></a>
                <a href="/yourrecipe"><li>Your Recipes</li></a>
                <a href="/<%=change%>"><li><%=change%></li></a>

            </ul>
        </nav>
    
    

    <div class="main-content">
        <div></div>
        <div class="con1">
            <h2>Get The Best Recipes</h2>
            <p>An extravagenza of great recipes of food that will keep you awestruck and coax you to try them in your kitchens.You can also share your unique recipes and have them circulated worldwide. </p>
            <h3>Happy Cooking!!</h3>
        </div>
        <div>
            
        </div>

    </div>
    </div>

    <div class="about">
        <div class="search">
           <a href="/recipe"><img src="img-2.jpeg" alt="">
            <p>Check out varities of dishes</p></a> 
            

        </div>
        <div class="share">
           <a href="/yourrecipe"><img src="img-3.jpeg" alt="">
            <p>Share your own recipes</p></a> 

        </div>
        <div class="explore">
            <a href="/posts">
            <img src="img-4.jpeg" alt="">
            <p>Neumerous personalized recipes</p>
        </a>

        </div>
    </div>
    <div class="work">

    </div>
    <div class="galhead">
       <h2>Galleria</h2> 
    </div>
    <div class="gllery">
        <div></div>
        <div class="picture">
            <div class="firstrow">
                <div class="effect">
        <img src="G-1.jpeg" alt="">
        <div class="overlay">
            <div class="fact">Breakfast</div>
        </div>
    </div>
    <div class="effect">
        <img src="G-4.jpeg" alt="">
        <div class="overlay">
            <div class="fact">Healthy Salad</div>
        </div>
    </div>
    <div class="effect">
        <img src="G-3.webp" alt="">
        <div class="overlay">
            <div class="fact">Nutritious Food</div>
        </div>
    </div>
            </div>
        <div class="secondrow">
            <div class="effect">
        <img src="G-5.jpeg" alt="">
        <div class="overlay">
            <div class="fact">Delicious Burgers</div>
        </div>
    </div>
    <div class="effect">
        <img src="G-8.webp" alt="">
        <div class="overlay">
            <div class="fact">Homemade</div>
        </div>
    </div>
    <div class="effect">
        <img src="G-7.webp" alt="">
        <div class="overlay">
            <div class="fact">Indian</div>
        </div>
    </div>
        </div>
        <div class="thirdrow">
            <div class="effect">
            <img src="G-9.jpeg" alt="">
            <div class="overlay"><div class="fact">Italian</div></div>
        </div>
        <div class="effect">
            <img src="G-6.jpeg" alt="">
            <div class="overlay">
                <div class="fact">Chinese</div>
            </div>
        </div>
        <div class="effect">
            <img src="G-10.jpeg" alt="">
            <div class="overlay">
                <div class="fact">American</div>
            </div>
        </div>
        </div>
    </div>
    <div></div>
    </div>
    <div class="testimonial">
        <div></div>
        <div class="contentcook">
        <div class="cook1">
            
            <img src="cook1.jpeg" alt="">
            <div>
            <h3>Cooking leads to more mindful eating.
            </h3>
            <p>According to studies, people eat more mindful portions when they make home-cooked meals. While there’s so much in life we cannot control, cooking puts you in control of every ingredient you use and the portions you eat.  

            </p>
        </div>
        </div>
        <div class="cook2">

            <div>
            <h3>Your plates might make a difference in your taste.</h3>
            <p>
                According to NPR, “In general, round, white plates tend to enhance sweet flavors in food, whereas black, angular plates tend to bring out more savory flavors… And serving food on a red plate tends to reduce the amount diners eat.” Now you know! 
            </p>
        </div>
        <img src="cook2.webp" alt="">
        </div>
        <div class="cook3">
            <img src="cook-4.jpeg" alt="">
            <div>
            <h3>Salt is a universal flavor enhancer.</h3>
            <p>Adding salt is a flavor enhancer shown to improve the “sensory properties'' of essentially every food. So if you want to cut down on your salt intake, it’s recommended to dial it back slowly in your cooking practices while also skipping processed food, cutting back on condiments, and dialing up peppers to substitute for flavor.  </p>
        </div>
        
        </div>
    </div>
    <div></div>

    </div>
    

        <div class="socials">


            <div><p>&copy All Rights Reserved</p></div>

        </div>
    
    </div>
    
</body>
</html>