<%-include('header')%>
<div class="signin">
    <div></div>
    <div class="signin-con">
<h3>Login to share your Recipes</h3>
<div class="form-con">
<form action="/signin" method="post">


    <h4>Username</h4>
    <input type="text" name="name">
    <h4>Password</h4>
    <input  type='password' name="pass">
    <div>
        <button>Login</button>
    
    </div>
    <div>
    <a href="/signup">Signup</a>
    </div>
</form>
</div>
</div>
<div></div>
</body>
</html>